---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, category, pubDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.additional {	
				display: inline-flex;
				flex-direction: row;
				align-items: baseline;
				list-style-type: none;
				gap: 2rem;

				& > *:not(:first-child) {
					list-style-type: square;
				}

				.category, .description {
					width: max-content;
				}
			}
			.title {
				margin-block-end: 1em;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0.5em 0 0.25em 0;
			}
			.date {
				margin-block-end: 0.5em;
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="hero-image">
					{heroImage && <Image width={1024} height={576} src={heroImage} alt="" />}
				</div>
				<div class="prose">
					<div class="title">
						<h1>{title}</h1>
						{(category || pubDate) && (
							<ul class="additional">
								{category && (
									<li>
										<p class="category">
											{category}
										</p>
									</li>
								)}
								{pubDate && (
									<li>
										<p class="date">
											<FormattedDate date={pubDate} />
										</p>
									</li>
								)}
							</ul>
						)}
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
	</body>
</html>
